<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page contact de Mathis</title>
    <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">-->
  </head>
  <body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/contact/">Liste de contacts</a></li>
            <li><a href="/rapport/">Rapport - Evolution des températures</a></li>
            <li><a href="/tawarano/">Export - Relévés météorologique Tawarano</a></li>
            <li><a href="/Avada Kedavra/">Page 40000004</a></li>
        </ul>
      </nav>

      <h2>Contacte moi</h2>

      <form action="back.php" method="post">
          <label for="nom">Nom :</label><br>
          <input type="text" id="nom" name="nom" required><br>
      
          <label for="prenom">Prénom :</label><br>
          <input type="text" id="prenom" name="prenom" required><br>
      
          <label for="message">Message :</label><br>
          <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
      
          <input type="submit" value="Envoyer">
      </form>

      <p>Un message</p>
  </body>
</html>