<html>
  <head>
    <meta charset="UTF-8" />
    <title>Metrique de Mathis</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">-->
  </head>
  <body>

    <nav class="navbar">
      <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/contact/">Liste de contacts</a></li>
          <li><a href="/rapport/">Rapport - Evolution des températures</a></li>
          <li><a href="/tawarano/">Export - Relévés météorologique Tawarano</a></li>
          <li><a href="/Avada Kedavra/">Page 40000004</a></li>
      </ul>
    </nav>


    <div id="chart_div"></div>


    <script>
      google.charts.load('current', {packages: ['corechart', 'bar']});
      //google.charts.setOnLoadCallback(drawBackgroundColor);
      google.charts.setOnLoadCallback(drawTopX);
     function drawBackgroundColor() {

    function drawTopX(data) {
    // Convertir les données récupérées en un tableau utilisable par Google Charts

    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn('string', 'Date');
    dataTable.addColumn('number', 'Valeur');
    data.results.forEach(entry => {
      var date = new Date(entry.Jour * 1000);
      dataTable.addRow([date.toLocaleDateString(), entry.temp]);
    });

    // Configurer les options du graphique en ligne
    var options = {
      chart: {
          title: 'Évolution des températures de Paris pour les 16 prochains jours',
          subtitle: 'En degrée C°'
        },
        axes: {
          x: {
            0: {side: 'top'}
          }
        },
        hAxis: {
          title: 'Time of Day',
          format: 'h:mm a',
          viewWindow: {
            min: [7, 30, 0],
            max: [17, 30, 0]
          }
        },
        vAxis: {
          title: 'Rating (scale of 1-10)'
        }
      };
    var chart = new google.charts.Bar(document.getElementById('chart_div'));
      chart.draw(dataTable, options);
  }

  // Récupération de données depuis notre API /paris/
  fetch('/tawarano/')
    .then(response => response.json())
    .then(data => {
      drawChart(data);
    })
}
    </script>
  </body>
</html>