<!doctype html>
<title>Evaluation - Mathis BERTIN</title>
<h1>Bienvenue sur votre projet Métriques</h1>
<h2>Ceci est le projet de : Mathis BERTIN - ESIEE-IT</h2>
<p>Si vous avez mis en ligne votre solution et si cette page d'accueil s'affiche dans votre navigateur alors <b>vous avez déjà gagné 4 points</b> sur votre note d'évaluation.</p>
<p>Notions acquises lors de cette étape : Vous avez lors cette première étape apris à créer votre hébergement en ligne sur Alwaydata, installer une application, Forker un projet GitHUB et créer des Secrets qui seront utilisés lors de vos Commits pour mettre à jour votre site en ligne</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<nav class="navbar">
  <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/contact/">Liste de contacts</a></li>
      <li><a href="/rapport/">Rapport - Evolution des températures</a></li>
      <li><a href="/tawarano/">Export - Relévés météorologique Tawarano</a></li>
      <li><a href="/histogramme/">Histogramme en colonne</a></li>
      <li><a href="/Avada Kedavra/">Page 40000004</a></li>
  </ul>
</nav>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3><s>Exercice 1 : Personnaliser votre page d'accueil (1 point)</s></h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3><s>Exercice 2 : Création d'une nouvelle route (2 points)</s></h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3><s>Exercice 3 Bis : Les fichiers HTML</s></h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3><s>Exercice 3 Ter : Transfert de données</s></h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3><s></s>Exercice 4 : Créer son histogramme (3 points)</s></h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3><s>Exercice 5 : Customisation de votre page de contact (3 points)</s></h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3>Exercice 6 : Combien de Commits pour ce projet ?  (4 points) </h3>

<p>Objectif : Autonomie totale ...</p>


<p><b>Toutes les solutions informatiques proposent aujourd'hui des API</b>. GitHUB lui-même propose des API pour toutes sortes de mesures</p>
<p>Charge à vous de savoir les extraire et les adapter à vos besoins. Dans cet exercice, vous allez créer un graphique qui mesurera la quantité de Commits que vous avez effectués (minute par minute) pour réaliser ce projet</p>
Ce nouveau graphique sera accessible sur votre site en ligne via le chemin suivant : https://{Votre URL}/commits/</p>
<p>Indice N°1 : Voici l'API utilisée pour extraire l'activité du repository qui est à l'origine de votre projet (celui que vous avez Forker en début de séance)</p>
<p>https://api.github.com/repos/OpenRSI/5MCSI_Metriques/commits</p>
<p>Indice N°2 : Les données qui nous intéressent ici sont stockées dans la clé suivante : [Commit][author][date]</p>
<p>Indice N°3 : Voici une route qui permet d'extraire les minutes d'une information formatée comme suit : "2024-02-11T11:57:27Z" </p>
<pre><code><xmp>
@app.route('/extract-minutes/<date_string>')
def extract_minutes(date_string):
        date_object = datetime.strptime(date_string, '%Y-%m-%dT%H:%M:%SZ')
        minutes = date_object.minute
        return jsonify({'minutes': minutes})
</xmp></code></pre></p>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3>Exercice 8 : Mettre en place un controle d'accès (admin/admin) </h3>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>

<h3>Test commit pour analyse du code par sonarqube</h3>

<h2>FIN DU PROJET</h2>

<footer>
  <p>&copy; 2024 - TP - BERTIN Mathis</p>
</footer>
